@model UserViewModel

@{
    ViewBag.Title = "Delete User";
    Layout = "_Layout";
}

<h2 class="align-self-center text-center p-5">Delete User</h2>

<div class="delete-page-ctn">
    <div class="user-card small-shadow">
        <div class="user-info-ctn">

            <div class="labels">
                <div class="label-text">Id</div>
                <div class="label-text">Username</div>
                <div class="label-text">First name</div>
                <div class="label-text">Last name</div>
                <div class="label-text">Email</div>
                <div class="label-text">Created at</div>
            </div>

            @{
            var lastName = String.IsNullOrEmpty(Model.LastName) ? "N/A" : Model.LastName;
            }

            <div class="info">
                <div class="info-text">@Model.Id</div>
                <div class="info-text">@Model.UserName</div>
                <div class="info-text">@Model.FirstName</div>
                <div class="info-text">@lastName</div>
                <div class="info-text">@Model.Email</div>
                <div class="info-text">@($"{Model.CreatedDate:dddd, MMMM d, yyyy}") </div>
            </div>

        </div>
    </div>
</div>


@if (TempData["Alert"] != null) {
    <div class="display-flex flex-column align-items-center gap-3 w-75 m-auto p-5">
        <div class="alert">@TempData["Alert"]</div>
        <form asp-controller="Account" asp-action="DeleteUser">
            <input type="hidden" name="id" value="@Model.Id"/>
            <div class="display-flex justify-content-center gap-4">
                <a asp-controller="Account" asp-action="Index" class="button yellow small-shadow">Return</a>
                <button class="button red small-shadow w-100" type="submit">Delete</button>
            </div>
        </form>
    </div>
}