@model Contact

@{
    Layout = "_Layout";
}

<h2>@Model.Name</h2>

@if (ViewData["Alert"] != null) {
    <p class="alert">@ViewData["Alert"]</p>
    <form asp-action="Delete">
        <button type="submit">Delete</button>
    </form>
}

<div class="contact-card d-flex flex-row">
    <div class="label-ctn">
        <div class="label">Email</div>
        <div class="label">Phone</div>
        <div class="label">Country</div>
        <div class="label">ZIP Code</div>
        <div class="label">City</div>
        <div class="label">Street</div>
        <div class="label">Working Hours</div>
    </div>
    <div class="info-ctn">
        <div class="info">@Model.Email</div>
        <div class="info">@Model.Phone</div>
        <div class="info">@Model.Country</div>
        <div class="info">@Model.ZipCode</div>
        <div class="info">@Model.City</div>
        <div class="info">@Model.Street</div>
        <div class="info">@Model.WorkingHours</div>
    </div>
</div>