@model IEnumerable<ContactViewModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Contacts";
}

<h2>Contacts</h2>

@if (ViewData["alert"] != null)
{
    <div class="alert">@ViewData["alert"]</div>
}
@if (ViewData["message"] != null)
{
<div class="alert">@ViewData["message"]</div>
}

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Country</th>
        <th>City</th>
        <th>ZipCode</th>
        <th>Street</th>
        <th>Working Hours</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var contact in Model)
    {
        <tr>
            <td>@contact.Id</td>
            <td>@contact.Name</td>
            <td>@contact.Email</td>
            <td>@contact.Phone</td>
            <td>@contact.Country</td>
            <td>@contact.City</td>
            <td>@contact.ZipCode</td>
            <td>@contact.Street</td>
            <td>@contact.WorkingHours</td>
            <td>
                <a href="/Contact/Delete/@contact.Id">Delete</a>
                <a href="/Contact/Edit/@contact.Id">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>