@model IEnumerable<ContactViewModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Contacts";
    var searchTerm = ViewData["SearchTerm"] as string;
    var city = ViewData["City"] as string;
}

<h2>Contacts</h2>

@if (ViewData["Alert"] != null)
{
    <div class="alert">@ViewData["Alert"]</div>
}
@if (ViewData["Message"] != null)
{
<div class="alert">@ViewData["Message"]</div>
}
<form asp-action="Search" method="get">
    <div class="search-bar">
        <label for="searchTerm">Search by Name:</label>
        <input type="text" name="searchTerm" id="searchTerm" value="@searchTerm">

        <label for="city">Filter by City:</label>
        <input type="text" name="city" id="city" value="@city">
        <button type="submit">Search</button>
    </div>
</form>
<div class="main-section">
    <div class="list-contacts">
        <div class="title-tags">
            <div class="title-tag flex-4">Name</div>
            <div class="title-tag flex-3">Email</div>
            <div class="title-tag flex-1">Phone</div>
            <div class="title-tag flex-1">Country</div>
            <div class="title-tag flex-1">City</div>
            <div class="title-tag flex-1">ZipCode</div>
            <div class="title-tag flex-2">Street</div>
            <div class="title-tag flex-1">Status</div>
            <div class="title-tag flex-1">Actions</div>
        </div>
        <div class="separator"></div>
        <div class="list-ctn">
            @foreach (var contact in Model)
            {
            <div class="list-row position-relative">
                <a asp-controller="Contact" asp-action="View" asp-route-id="@contact.Id" class="full-link"></a>
                <div class="list-cell flex-4">@contact.Name</div>
                <div class="list-cell flex-3">@contact.Email</div>
                <div class="list-cell flex-1">@contact.Phone</div>
                <div class="list-cell flex-1">@contact.Country</div>
                <div class="list-cell flex-1">@contact.City</div>
                <div class="list-cell flex-1">@contact.ZipCode</div>
                <div class="list-cell flex-2">@contact.Street</div>
                <div class="list-cell flex-1">@contact.GetCurrentState()</div>
                <div class="list-cell flex-1">
                    <a asp-controller="Contact" asp-action="Delete" asp-route-id="@contact.Id" class="z-index-1000">Delete</a>
                    <a asp-controller="Contact" asp-action="Edit" asp-route-id="@contact.Id" class="z-index-1000">Edit</a>
                </div>
            </div>
            }
        </div>
    </div>
</div>


@if (!Model.Any())
{
    <div class="alert">
        <span>Nothing found</span>
        @if (!string.IsNullOrEmpty(searchTerm))
        {
            <span>for @searchTerm</span>
        }

        @if (!string.IsNullOrEmpty(city))
        {
            <span>in @city</span>
        }

    </div>
}