@model ContactViewModel

@{
    ViewData["Title"] = "Create Contact";
    Layout = "_Layout";
}

<h2>Edit Contact @Model.Name</h2>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Country" class="control-label"></label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City" class="control-label"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ZipCode" class="control-label"></label>
        <input asp-for="ZipCode" class="form-control" />
        <span asp-validation-for="ZipCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Street" class="control-label"></label>
        <input asp-for="Street" class="form-control" />
        <span asp-validation-for="Street" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Working Hours</label>
        <div class="working-hours-container">
            <div class="working-hour">
                <label>Monday:</label>

                <label>from</label>
                <input asp-for="MondayStartTime" value="@Model.MondayStartTime" type="time" />

                <label>to</label>
                <input asp-for="MondayEndTime" value="@Model.MondayEndTime" type="time" />
            </div>
            <div class="working-hour">
                <label>Tuesday:</label>

                <label>from</label>
                <input asp-for="TuesdayStartTime" value="@Model.TuesdayStartTime" type="time" />

                <label>to</label>
                <input asp-for="TuesdayEndTime" value="@Model.TuesdayEndTime" type="time" />
            </div>
            <div class="working-hour">
                <label>Wednesday:</label>

                <label>from</label>
                <input asp-for="WednesdayStartTime" value="@Model.WednesdayStartTime" type="time" />

                <label>to</label>
                <input asp-for="WednesdayEndTime" value="@Model.WednesdayEndTime" type="time" />
            </div>
            <div class="working-hour">
                <label>Thursday:</label>

                <label>from</label>
                <input asp-for="ThursdayStartTime" value="@Model.ThursdayStartTime" type="time" />

                <label>to</label>
                <input asp-for="ThursdayEndTime" value="@Model.ThursdayEndTime" type="time" />
            </div>
            <div class="working-hour">
                <label>Friday:</label>

                <label>from</label>
                <input asp-for="FridayStartTime" value="@Model.FridayStartTime" type="time" />

                <label>to</label>
                <input asp-for="FridayEndTime" value="@Model.FridayEndTime" type="time" />
            </div>
            <div class="working-hour">
                <label>Saturday:</label>

                <label>from</label>
                <input asp-for="SaturdayStartTime" value="@Model.SaturdayStartTime" type="time" />

                <label>to</label>
                <input asp-for="SaturdayEndTime" value="@Model.SaturdayEndTime" type="time" />
            </div>
            <div class="working-hour">
                <label>Sunday:</label>

                <label>from</label>
                <input asp-for="SundayStartTime" value="@Model.SundayStartTime" type="time" />

                <label>to</label>
                <input asp-for="SundayEndTime" value="@Model.SundayEndTime" type="time" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-primary" />
    </div>
</form>
